DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=postgres://gol_user:gol_pass@db:5432/gol_db
POSTGRES_DB=gol_db
POSTGRES_USER=gol_user
POSTGRES_PASSWORD=gol_pass
